@page
@model Debugger.Pages.Builds.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-page="Create">Add new build</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Builds[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Builds[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Builds[0].Started)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Builds[0].Finished)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Builds)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Started)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finished)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
